
.App {
  background: #ebf1fa;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-content: space-around; 
  font-size: calc(10px + 2vmin);
  color: #8c9094;
  
}
.info-block{
  height: 5rem;
}
.container{
  height: 100%;
    display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-content: space-around; 
}
.linktosheets{
  display: block;
  background-color: #ebf1fa;
    color: #8c9094;
    border-radius: 11px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    height: 44px;
    display: block;
    border-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    font-family: 'Montserrat', sans-serif;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
}
.linktosheets:hover{
  background-color: #c4d7dc;
    transition: background-color 0.5s ease;
    border-color: transparent;
    color: #ebf1fa;
}
.linktosheets:active{
    border-style: inset;
}